# Data Preparation Basics
## Segment 3 - Removing duplicates

In [14]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [22]:
DF_obj = DataFrame({'column 1' : [1,1,2,2,3,3,3,4,4,4,4],
                    'column 2' : ['a','a','b','b','c','c','c','d','d','d','d'],
                    'column 3' : ['A','A','B','B','C','C','C','D','D','D','D']})
DF_obj

    column 1 column 2 column 3
0          1        a        A
1          1        a        A
2          2        b        B
3          2        b        B
4          3        c        C
5          3        c        C
6          3        c        C
7          4        d        D
8          4        d        D
9          4        d        D
10         4        d        D

In [23]:
DF_obj.duplicated()

0     False
1      True
2     False
3      True
4     False
5      True
6      True
7     False
8      True
9      True
10     True
dtype: bool

In [24]:
DF_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
7         4        d        D

In [25]:
DF_obj.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
7         4        d        D