# Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [7]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [10]:
series_obj = Series(np.arange(8), index = ['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

## label index

In [11]:
series_obj['row 5']

4

In [13]:
series_obj[[0,7]]

row 1    0
row 8    7
dtype: int64

In [34]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
DF_obj * 5

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  4.350621  2.911385  1.394195  0.929556  2.055501  0.586878
row 2  3.424844  2.188055  2.781147  1.835402  2.011829  0.565204
row 3  2.235154  2.927226  0.809926  2.603594  1.630256  3.495931
row 4  1.831973  4.181873  2.406715  2.582511  1.915241  4.987704
row 5  2.571222  2.795266  0.172249  3.599650  2.105018  2.184676
row 6  1.408504  4.501372  3.348061  2.280344  1.449022  2.629095

In [42]:
np.random.randint(1, 7, size=7)

array([4, 3, 5, 5, 6, 1, 4])

In [44]:
np.random.seed(0)
print()

In [28]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [ ]:
series_obj['row 3': 'row 7']

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [19]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

### Filtering with scalars

In [20]:
series_obj[series_obj > 6]

row 8    7
dtype: int64

### Setting values with scalars

In [24]:
series_obj['row 1', 'row 5', 'row 8'] = 'tejas'
series_obj

row 1    tejas
row 2        1
row 3        2
row 4        3
row 5    tejas
row 6        5
row 7        6
row 8    tejas
dtype: object

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.